   <style>
        html, body{
            margin:0;
            padding:0;
        }
            div div table, tr, td {
        border: 1px solid black;
    }
    div div table {
        background-color:#FFFFFF;
    }
        div.parent {
            width:1365px;
            height:35px;
            position:fixed;
        }
        div div.Sky{
            width:1285px;
            height:35px;
            background-color:rgb(20, 120, 108);
            color:#FFFFFF;
            margin:0px;
            padding:0px;
            text-align:center;
            position:fixed;
            top:0px;
            left:80px;
        }
        
        div div.yellow2 {
            width:80px;
            height:686px;
            background-color:rgb(255, 254, 161);
            position:fixed;
        }
        div div.yellow_1 {
            width:455px;
            height:40px;
            background-color:rgb(255, 254, 161);
            margin:0px;
            padding:0px;
            text-align:center;
            position:fixed;
            top:35px;
            left:80px;
            
        }
         div div.yellow_2 {
            width:455px;
            height:40px;
            background-color:rgb(255, 254, 161);
            margin:0px;
            padding:0px;
            text-align:center;
            position:fixed;
            top:35px; 
            left:535px;
            
        }
         div div.yellow_3 {
            width:455px;
            height:40px;
            background-color:rgb(255, 254, 161);
            margin:0px;
            padding:0px;
            text-align:center;
            position:fixed;
            top:35px; left:990px;
            
        }
        div.parent2 {
            justify-content:center;
        }
        p{
            color:#FFFFFF;
        }
        div.txt {
             border: 1px solid;
             border-color:#c3c494;
             width:642px;
             height:205px;
             position:relative;
             top:100px;
             left:90px;
        }
        div.Asiyah {
            position:relative;
            bottom:50px;
            left:80px;
            border: 1px solid;
            border-color:#c3c494;
            background-color:#000000; 
            width:1285px; 
            height:19px; 
            color:#fbf007; 
            text-align:center;
        }
        div.Safety {
            position:relative;
            left:120px;
            width:400px;
            border: 1px solid;
            border-color:#c3c494;
        }
        div.Info {
            position:relative;
            left:525px;
            bottom:22px;
            width:400px;
            border: 1px solid;
            border-color:#c3c494;
        }
        div.Training {
            position:relative;
            left:928px;
            bottom:44px;
            width:400px;
            border: 1px solid;
            border-color:#c3c494;
        }
        div.Briah {
            position:relative;
            bottom:20px;
            left:80px;
            border: 1px solid;
            border-color:#c3c494;
            background-color:#000000; 
            width:1285px; 
            height:19px; 
            color:#0be33e; 
            text-align:center;
        }
        div.ComCenter {
            
        }
        div.Atziluth {
            position:relative;
            bottom:50px;
            left:80px;
            border: 1px solid;
            border-color:#c3c494;
            background-color:#000000; 
            width:1285px; 
            height:19px; 
            color:#bdbdbd; 
            text-align:center;
        }
        div.Record {
            
        }
        h1 {
            color:#fd393b;
        }
        div.Contacthead {
            position:relative;
            bottom:50px;
            left:80px;
            border: 1px solid;
            border-color:#c3c494;
            background-color:#000000; 
            width:1285px; 
            height:19px; 
            color:#FFFFFF;
            text-align:center;
        }
        div.Contact {
            position:relative;
            left:80px; 
            width:1300px; 
            height:95px; 
            background-color:rgb(20, 120, 108);
        }
        img.lcorpimg {
            width:80px; 
            height:85px;
        }
        img.Lobotomy-corporation-header {
            width:542px; 
            height:205px; 
            position:relative;
            left:753px;
            bottom:109px;
        }
        img.safetyimg {
            width:400px;
            height:205px;
        }
        img.infoimg {
            width:400px; 
            height:205px;
        }
        img.trainingimg {
            width:400px; 
            height:205px;
        }
        img.Comcenterimg {
            width:542px; 
            height:261px; 
            position:relative;
            left:745px;
            bottom:150px
        }
        img.recimg {
            width:542px; 
            height:261px; 
            position:relative;
            left:745px;
            bottom:150px
        }
        a.safelink {
            color:#6bbaff
        }
        a.infolink {
            color:#6bbaff
        }
        a.traininglink {
            color:#6bbaff
        }
        a.cencomlink {
            color:#6bbaff
        }
        a.recordlink {
            color:#6bbaff
        }
    </style> 
